<div class="background_bottom">
  <div class="block_up">
    <div class="about_one_up">
      <p class="head">Normalfaggotbot</p>
      <p class="text">
        Обслуживает несколько серверов
        <br />
        <i class="fas fa-music"></i> Приятного прослушивания
        <br />
        <i class="fas fa-users-cog"></i> от
        <a
          href="https://github.com/sathelo"
          title="Github Sathelo"
          target="_blank"
          >sathelo</a
        >,
        <a
          href="https://github.com/TGSLPD"
          title="Github TGSLPD"
          target="_blank"
          >TGSLPD</a
        >,
        <a
          href="https://github.com/gudlayv"
          title="Github gudlayv"
          target="_blank"
          >gudlayv</a
        >
      </p>
    </div>

    <div class="about_block_bottom">
      <p class="head">Normalfaggotbot</p>
      <a href="/#scroll_documentation">
        <p class="text" title="Документация">Документация</p>
      </a>
      <a href="/#scroll_commands">
        <p class="text" title="Команды">Команды</p>
      </a>
    </div>

    <div class="about_block_bottom">
      <p class="head">Ресурсы</p>
      <a href="#">
        <p class="text" title="Контакты">Контакты</p>
      </a>
    </div>
  </div>

  <div class="block_bottom">
    <div class="text_bottom">
      <p>
        Является чем-то большим, чем просто ботом, наверное, в этом что-то есть
        особенное
      </p>
    </div>
  </div>
</div>
