<div class="header">
  <div class="logo">
    <a href="/" title="Домой">
      <img src="static/images/photo_logo.png" alt="Лого" />
    </a>
  </div>
  <div class="button command">
    <a href="#scroll_commands">
      <i class="fas fa-list"></i>
      <p class="text" title="Команды">Команды</p>
    </a>
  </div>
  <div class="button doc">
    <a href="#scroll_documentation">
      <i class="fas fa-book"></i>
      <p class="text" title="Документация">Документация</p>
    </a>
  </div>
  <div class="button blog">
    <a href="blog.html">
      <i class="fas fa-stream"></i>
      <p class="text" title="Блог">Блог</p>
    </a>
  </div>
  <div class="button end_block">
    <div class="button add_bot">
      <a
        href="https://discord.com/api/oauth2/authorize?client_id=877243621299064902&permissions=8&scope=bot"
        title="Добавить бота на сервер"
        target="_blank"
      >
        Добавить бота на сервер
      </a>
    </div>
  </div>
</div>
